<header class="mb-auto">
    <div>
      <nav class="nav nav-masthead justify-content-center">
        {% if 'name' in session %}
          <a class="nav-link" style="color: #FBF9E1;">Playing as <b>{{ session['name'] }}</b></a>
          <a class="btn btn-danger rounded-pill" href="{{ url_for('home') }}">End Game</a>
        {% else %}
          {% if 'userID' in session %}
            <a class="nav-link" aria-current="page" href="{{ url_for('home') }}" style="color: #FBF9E1;">Home</a>
            <a class="btn nav-link" href="{{ url_for('pastGames') }}" style="color: #FBF9E1;">Past Games</a>
            <a class="btn nav-link"  href="{{ url_for('logOut') }}" style="color: #FBF9E1;">Logout</a>
          {% else %}
            <a class="nav-link" aria-current="page" href="{{ url_for('home') }}" style="color: #FBF9E1;">Home</a>
            <a class="btn nav-link"  data-bs-toggle="modal" data-bs-target="#loginModal" style="color: #FBF9E1;">Login</a>
            <a class="btn nav-link"  data-bs-toggle="modal" data-bs-target="#registerModal" style="color: #FBF9E1;">Register</a>
          {% endif %}
        {% endif %}
          <a class="btn nav-link" href="{{ url_for('results') }}">Temporary button to go to reuslts page</a>
      </nav>
    </div>
  </header>