{% extends "base.html" %}
{% block title %}Questions{% endblock %}

{% block content %}
<br>
<!-- Statistics -->
<div class="card" style="position:fixed;top:200px;left:20px;">
  <div class="card-body">
    <h5 class="card-title stats-value">Lifetime</h5>
    <p class="card-text"><small class="text-muted">Age</small></p>
    {% if session['age']<10 %}
      <p class="stats-value">0{{ session['age'] }}</p>
    {% else %}
      <p class="stats-value">{{ session['age'] }}</p>
    {% endif %}
    <p class="card-text"><small class="text-muted">Money</small></p>
    <p class="card-text stats-value">${{ session['money'] }}</p>
  </div>
</div>
<br>

<!-- Question -->
<div class="container">
  <div class="row">
    <div class="col-10">
      <!-- Question -->
      <div class="card" style="width: 50rem; height: 700px;">
        <!-- Question Part -->
        <div class="card-body">
          <h5 class="card-title text-center" style="color: #5A6631 !important;">{{ questionRow.questionText }}</h5>
        </div>
        <!-- Question Image -->
        <img src="{{ questionRow.ImageLink }}" class="card-img-bottom mx-auto img-fluid" style="object-fit: cover;width: 30rem;height: 250px;">
        <!-- Answer Input -->
        <div class="card-body">
          <div class="d-grid gap-2 d-lg-block text-center">
            <a href="{{ url_for('ansQuestion', response=1) }}" class="button-custom btn btn-lg" style="!important; display:block; margin-top: 10px;">{{ questionRow.response1_Text }}</a>
            <a href="{{ url_for('ansQuestion', response=2) }}" class="button-custom btn btn-lg" style="!important; display:block; margin-top: 10px;">{{ questionRow.response2_Text }}</a>
            {% if questionRow.response3_Text %}
              <a href="{{ url_for('ansQuestion', response=3) }}" class="button-custom btn btn-lg" style="!important; display:block; margin-top: 10px;">{{ questionRow.response3_Text }}</a>
            {% endif %}
          </div>
        </div>
        <!-- DYK Part -->
        <div class="card-body">
          <h5 class="card-title text-center" style="color: #5A6631 !important;">Did you know? </h5>
          <p class="card-text text-center" style="color: #5A6631 !important;">Electric cars are actually better for the environment. </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}